version: '3'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: aria-ai-web
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - EMAIL_USER=${EMAIL_USER}
      - EMAIL_PASS=${EMAIL_PASS}
